.neu-about-products {
    height: 470px;
    padding-top: 30px;

    & > div {
        height: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        margin-right: -4px;
    }

    &-left, &-right {
        width: 26%;
    }

    &-center {
        width: 48%;
        
        img {
            width: 94%;
            margin-top: -44px;
        }
    }

    &-left, &-right {
        div {
            height: 50%;
            padding: 0 5px;
        }

        img {
            height: 70px;
        }

        strong {
            display: block;
            text-transform: uppercase;
            font-weight: 400;
            font-style: 18px;
            margin-top: 10px;
            margin-bottom: 16px;
        }
    }
}