.neu-btn-wrap {
    text-align: center;
}

.btn {
    width: auto;
    height: 45px;
    line-height: 42px;
    background: $cta-color;
    padding: 0 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    border: 2px solid transparent;
    transition: all 0.3s;
    outline: none !important;

    &:hover, &:focus {
        background:#fff;
        border-color: $cta-color;
        color: $cta-color;
    }

    &.btn-second {
        background: $btn-second;

        &:hover, &:focus {
            background:#fff;
            border-color: $btn-second;
            color: $btn-second;
        }
    }
}