.btn {
    width: auto;
    height: 48px;
    line-height: 48px;
    background: $cta-color;
    padding: 0 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    border: 2px solid transparent;
    transition: all 0.3s;

    &:hover {
        background:#fff;
        border-color: $cta-color;
        color: $cta-color;
    }
}