.neu-home {
    &-content {
        text-align: center;

        p {
            &:not(:last-child) {
                margin-bottom: 80px;
            }
        }
    }

    &-icons {
        padding: 30px 0 26px;
        margin: 40px 0 100px;
        background: $gray-light;
        text-align: center;

        li {
            display: block;
            text-transform: uppercase;
            text-align: center;
            display: inline-block;
            padding: 0 60px;
        }

        strong {
            color: $cta-color;
            display: block;
        }

        span {
            font-weight: 400;
            font-size: 20px;
        }

        img { 
            width: auto;
            height: 48px;
            margin-bottom: 10px;
        }
    }
}